
.num{
    display: flex;
    justify-content: space-between;
}
.num select{
    width: 40%;
    margin-right: 9px;
    color: #0F1111!important;
}
.form-items label {
    margin-top: 7px;
}
.form-items p span{
    text-decoration: none!important;
    transition: all 0.3s ease-in!important;
}
.form-items p span:hover{
    text-decoration: underline!important;
    cursor: pointer!important;
    color: #c45500!important;
}
.form-items button {
    font-size: 16px;
}