/* .home-items{
    margin: 0 auto;
    margin-bottom: 0px;
  padding: 20px 0;

}
.home-item{
  background: #fff;
  padding-top: 20px;
}
.home-item h4{
  font-size: 21px ;
  line-height: 27.3px;
  margin-bottom: 10px
}
.home-item .home-item-imgs{
  display: flex;
}
.home-item img{
  width:100%;
  cursor: pointer;
  padding: 8px;
}
.home-item h6{
  margin-bottom: 5px;
}
.home-item button{
  border: none;
  outline: none;
  color: #348E9D;
} */