.homePage h2{
    color: #0f1111;
  font-size: 21px ;
  font-weight: 700;
}
/* mainslider */
.mainslider{
    position: relative;
    z-index: -1;
    height: 100vh;
}
.mainslider img{
    max-width: 100%;
}
.mainslider .slick-dots {display:none!important}
/* slider-items */
.slider-items{margin-top: -370px;}
.sliderItem-items{
    display: flex;
    justify-content: space-between;
 
}
.sliderItem{
    padding: 20px;
    height: 297px;
  margin-bottom: 44px;
  text-align: left;
background-color: #fff;
}
.sliderItem img{
    max-width: 100%;
}
.sliderInfo-imgs{cursor: pointer;}
.sliderItem h4{
    max-height: 54.6px;
    font-size: 19px;
    line-height: 27.3px;
    color: #0f1111 !important;
    font-weight: 700;
    margin-bottom: 30px;

}
.sliderItem .sliderItem-info img{
    margin: 0 auto;
    max-width: 94%;

}
.sliderItem .items img{
    max-width: 94%;
}
.sliderItem .sliderItem-info h5{
    max-height: 36px;
  font-size: 12px !important;
  line-height: 18px !important;
}
.sliderItem button{
    margin-right: auto;
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    color: #007185;
    margin-top: 10px;
    background-color: transparent;
  font-weight: 400;
}

.sliderItem  .MuiPaper-root{
    margin-bottom: 20px!important;
}
/* @media(max-width:785px){
    .slider-items{margin-top: 10px;}

} */
/* Deals */
.deals{
    background: #fff;
  padding: 10px 20px;
  text-align: center;
}
.deals-header{
    text-align: left;
}
.deals-header h4{
    font-size: 21px ;
  line-height: 27.3px ;
  color: #0F1111 ;
}
.deals button{
    border: none;
    outline: none;
    background-color: transparent;
  text-align: right;
  font-size: 14px;
  padding-left: 15px;
  color: #007185;
}
.deals h3{
    font-size: 20px;
}
.deals img{
    height: 200px;
    margin: 5px auto
}

.deals span{
    display: block;
  width: auto;
  float: left;
  text-align: right;
  font-size: 14px;
  padding-left: 15px;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #007185;
}
.deal .price{
    background-color: #CC0C39;
  color: #ffffff;

}
/* discover */
.discover{
    padding: 20px 20px 10px;
}
.discover h3{
    color: #0F1111;
}
.discover img{
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    vertical-align: middle;
}
.discover img {margin:auto}
.Budget img{margin:auto}
/* sports */
.sports{
    padding: 37px 0 20px;
}
.sports-items{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.sportsItem{
    margin-bottom: 100px;
}
.sports-items h5{
    color: #0F1111;
    font-size: 17px;
    margin-bottom: 14px;
}
.sports-items img{
    cursor: pointer;
    height: 100%;
   max-width: 93%;
   margin-bottom: 5px;
}
.sports-items button{
    margin-right: auto;
  width: 100%;
   text-align: right;
    border: none;
    outline: none;
    background-color: transparent;
    color: #007185;
} 
@media(max-width:600px){
    .sports-items {text-align: center;}
}
/* Appliances */
.Appliances,
.makeup
{
    padding: 20px 0;
}
.Appliances h2,
.makeup h2
{
    color: #0F1111 ;
}
.Appliances img,
.makeup img
{
    max-width: 93%;
    width: auto;
    height: auto;
    max-width: 170px;
    max-height: 200px;
    vertical-align: middle;
    cursor: pointer;
}
/* car */
.car{margin-top: 44px;}
.car .car-item{
    position: relative;
    background-color: #fff;
    height: 420px;
   min-height: 420px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 290px;
}
.car h4{
    max-height: 54.6px;
  font-size: 16px ;
  line-height: 27.3px ;
  color:#0f1111 ;
}
.car img{
    max-width: 100%;
  margin-top: 5px;
  height: 70%;
}
.car button{
    margin-right: auto;
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    background-color: transparent;
    color: #007185;
}
/* signIn-header */
.signIn-header{
    padding: 20px 0;
    text-align: center;
}
.signIn-header button{
    display: block;
    height: 32px;
    color: #000;
    background-color: #ffd978;
    font-size: 12px;
    line-height: 28px;
    font-weight: 700;
    text-shadow: 0 1px 0 #ffe093;
    text-align: center;
    margin: 9px auto;
    width: 200px;
    border-radius: 10px;
    border: none;
}
.signIn-header p{
    color: #000;
    font-size: 13px;;
}
.signIn-header p span{
    color: #007185;
    cursor: pointer;
}
.signIn-header a{
    text-decoration: none;
}
.signIn-header button a{
    color: #333;
}
/* Media */
@media (max-width: 1271px){
  .sports-items h5 {
    color: #0F1111;
    font-size: 17px;
    margin-bottom: 14px;
  }
}


@media(max-width:340px){
    .mainslider {
        height: 83vh;
       
    }
}
@media(max-width: 500px){
    .InnerPage-info h4 {
        font-size: 18px;
    } 
    .del-img{display: none;}
}


@media (max-width:610px){
    .slider-items {
        margin-top: -415px;
    }
    .sliderItem {
        height: 176px;
    }
    .discover img {
    max-width: 100%
    }
    .Appliances img, .makeup img{
        max-width: 100%;
    }
    .sports-items{
        flex-direction: column;
    }
    .sports-items button{text-align:center}
}
@media (max-width:599){
    .sports {
    width: 100%;
    text-align: center;
}

}
@media (max-width: 990px){
    .sliderItem .sliderItem-info h5 {
      font-size: 10px!important;
  }
  .sliderItem h4 {
      font-size: 15px;
  }
  }

@media (max-width: 905px){
    .sliderItem {
        margin-bottom: 80px;
    }
    .makeup img{
        max-width: 100%;
    }
}